entrypoint = "main.dart"
modules = ["dart-3.3", "dart-3.8", "python-3.11", "postgresql-16"]

[nix]
channel="stable-24_05"
packages = ["flutter"]

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flutter Web"

[[workflows.workflow]]
name = "Flutter Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_web.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44291
externalPort = 3000
