entrypoint = "main.dart"
modules = ["dart-3.3", "dart-3.8"]

[nix]
channel="stable-24_05"
packages = ["flutter"]

[deployment]
run = ["dart", "main.dart"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
